@import url('theme.css');
@import url('header.css');
@import url('side-bar.css');
@import url('chat.css');
@import url('message.css');
@import url('chatinput.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--body-background);
  color: var(--text);
  display: flex;
}

#root-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  position: relative;
}
